#div-1 {
    background: lightseagreen;
    width: 500px;
    height: 500px;
    float: left;
    margin: 10px;
    padding: 10px;
}

#div-2 {
    background: rgb(176, 198, 132);
    padding: 10px;
    clear: left;
}

#div-3 {
    background: seagreen;
    padding: 10px;
}