#div-1 {
    background: turquoise;
    position: relative;
    width: 500px;
    height: 500px;
    top: 50px;
    left: 50px;
}

#div-2 {
    background-color: tomato;
    width: 350px;
    height: 350px;
    position: relative;
    top: 80px;
    left: 80px;
}