body {
    Background: black;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(177, 162, 77);
}

h1, h2, h3, h4 {
    font-family: sans-serif;
    color: gray;
}

.header3text {
    font-family: fantasy;
    font-size: large;
    color: seagreen;
    font-weight: bold;
}

.header2text {
    font-family: fantasy;
    font-size: medium;
    color: springgreen;
    font-weight: normal;
}

.header1text {
    font-family: fantasy;
    font-size: x-large;
    color: gray;
    font-weight: bold;
}

.underline {
    font-family: fantasy;
    text-decoration: underline;
}