.txtcolor {

    color: darkgreen;

}

.txtcolor2 {

    color: #10C212;

}

.txtcolor3 {

    color: rgb(160,50,90);
    
}

.txtspace {

    letter-spacing: 10px;

}

.wordspace {

    word-spacing: 10px;

}

.txtalign {

    text-align: center;

}

.txtdeco {

    text-decoration: underline;

}

.txttrans {

    text-transform: capitalize;

}

.textstyle {

    font-family: sans-serif;
    font-size: large;
    font-style: normal;
    line-height: 120%;

}

.border {
    border: 4px;
    border-color: #333333;
    border-style: groove;
    border-radius: 2;
}

#div {
    margin: 20px 20px 20px 20px;
    padding: 20px;
}